{% extends 'base_more.html' %}
{% load staticfiles %}
{% load blog_tags %}
{% block main %}
		<div class="container">
		<header>
			<a href="{% url 'website:index' %}"><img src="{% static 'images/top.jpg' %}"></a>
		</header>
		<section>
			<aside class="row">
				<div class="col-md-8">
					{% for post in post_list %}
					<article class="blog-post">
						<div class="blog-post-body">
							<h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
							<div class="post-meta"><span>by <a href="#">{{ post.author }}</a></span>/<span><i class="fa fa-clock-o"></i>{{ post.created_time }}</span>/<span><i class="fa fa-comment-o"></i> <a href="#">{{ post.views }} read</a></span></div>
							<p>{{ post.excerpt }}...</p>
							<div class="read-more"><a href="{{ post.get_absolute_url }}">Continue Reading</a></div>
						</div>
					</article>
					{% empty %}
					<div class="no-post">暂时还没有发布的文章！</div>
					{% endfor %}
				</div>
				<div class="col-md-4 sidebar-gutter">
                    <aside>
					<!-- sidebar-widget -->
					<div class="sidebar-widget">
						<h3 class="sidebar-title">About Me</h3>
						<div class="widget-container widget-about">
							<a href="post.html"><img src="{% static 'images/author.jpg' %}" alt=""></a>
							<h4>OKAZAKI USHIO</h4>
							<div class="author-title">Designer</div>
							<p style="text-align:center">一位现居Amoy的少年</p>
							<p>嘎粉/日剧/美剧/动漫/科技/喜欢黑白蓝/python+php+web前端+日语自学中...</p>
						</div>
					</div>
					<!-- sidebar-widget -->
					<div class="sidebar-widget">
						<h3 class="sidebar-title">Featured Posts</h3>
						{% get_recent_posts as recent_post_list %}
						<div class="widget-container">
							{% for post in recent_post_list %}
							<article class="widget-post">
								<div class="post-image">
									{% for photo in post.photo_set.all %}<a href="post.html"><img src="{{ photo.image.thumb_url }}" alt=""></a>{% endfor %}
								</div>
								<div class="post-body">
									<h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
									<div class="post-meta">
										<span><i class="fa fa-clock-o"></i>{{ post.created_time }}</span> <span><a href="post.html"><i class="fa fa-comment-o"></i>{{ post.views }}阅读</a></span>
									</div>
								</div>
							</article>
							{% endfor %}
						</div>
					</div>
					<!-- sidebar-widget -->
					<div class="sidebar-widget">
						<h3 class="sidebar-title">ARCHIVES</h3>
						<div class="widget-container">
							{% archives as date_list %}
							<ul>
							{% for date in date_list %}
							<li>
							<a href="{% url 'website:archives' date.year date.month %}">{{ date.year }} 年 {{ date.month }} 月</a>
							</li>
							{% empty %}
							暂无归档！
							{% endfor %}
							</ul>
						</div>
					</div>
					<!-- sidebar-widget -->
					<div class="sidebar-widget">
						<h3 class="sidebar-title">Categories</h3>
						<div class="widget-container">
						  {% get_categories as category_list %}
						  <ul>
							{% for category in category_list %}
							<li>
							  <a href="{% url 'website:category' category.pk %}">{{ category.name }} <span class="post-count">({{ category.num_posts }})</span></a>
							</li>
							{% empty %}
							暂无分类！
							{% endfor %}
						  </ul>
						</div>
					</div>
					</div>
                </aside>
            </section>
        </div>

{% if is_paginated %}
<div style="width:1140px;position:relative;right:-20%;">
<div class="pagination">
  {% if first %}
    <a href="?page=1">1</a>
  {% endif %}
  {% if left %}
    {% if left_has_more %}
        <span>...</span>
    {% endif %}
    {% for i in left %}
        <a href="?page={{ i }}">{{ i }}</a>
    {% endfor %}
  {% endif %}
  <a href="?page={{ page_obj.number }}" style="color: #6495ED">{{ page_obj.number }}</a>
  {% if right %}
    {% for i in right %}
        <a href="?page={{ i }}">{{ i }}</a>
    {% endfor %}
    {% if right_has_more %}
        <span>...</span>
    {% endif %}
  {% endif %}
  {% if last %}
    <a href="?page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a>
  {% endif %}
</div>
</div>
{% endif %}
{% endblock main %}